@import "tailwindcss";

@theme {
  --color-mafia-deep: #050505;
  --color-mafia-surface: #0a0a0a;
  --color-poker-gold: #D4AF37;
  --background-image-grain: url('https://www.transparenttextures.com/patterns/black-paper.png');
}

@layer base {
  body {
    @apply bg-mafia-deep text-white font-sans overflow-hidden select-none;
    background-image: var(--background-image-grain);
  }
}
